:root {
  --background-color: #fffff3;
  --header-background: #ff4365;
  --highscore-header-background: #00d9c0;
  --button-color: #b7ad99;
}

* {
  box-sizing: border-box;
}
/* Headers */
#mainHeaderContainer {
  display: flex;
  justify-content: space-between;
  background-color: var(--header-background);
}


#highscoreHeaderContainer {
  display: flex;
  justify-content: space-between;
  background-color: var(--highscore-header-background);
}

/* Main content */
#hsTitle {
  justify-self: center;
  align-self: center;
}


#startContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

#questionDisplay {
  display: flex;
  justify-content: center;
}

#answerChoices {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

button {
  background-color: var(--button-color);
  margin: 5px;
}

#highscoreContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/* toggles to hide and show elements */

#highscoreList {
  list-style: none;
}

#hideMainHeader {
  display: none;
}

#hideQuestions {
  display: none;
}

#hiddenHighscoreHeader {
  display: none;
}

#hiddenHighScore {
  display: none;
}

#hideForm {
  display: none;
}

#hiddenStart {
  display: none;
}

#highscoreForm {
  display: contents;
}

#container {
  display: contents;
}
